*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.wrapper{
    width: 100%;
    height: 100vh;

    align-items: center;
    flex-direction: column;
    display: flex;
}
.nav{
    width: 100%;
    display: grid;
    height: 10%;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    border-bottom: 1px solid gray;
    box-shadow: 0px 0px 7px black;
}
.name-sec{
    padding-left: 10px;
}
.name-sec p{
    font-size: 28px;
    font-family: "Science Gothic", sans-serif;
    font-weight: bold;
}
.right-sec{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    padding-right: 10px;
}
.right-sec i{
    font-size: 24px;
    color: black;
    cursor: pointer;
}
.content{
    overflow: auto;
    width: 100%;
    height: 88%;
}
.box{
    display: flex;
    flex-direction: row;
    width: 100vw;
    padding-top: 30px;
    padding-bottom: 30px;
    height: 150px;
    gap: 5px;
    border-bottom: 1px solid grey;
}
.image-sec{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 25%;
}
#wee{
    width: 100%;
    height: 120%;
}
.blab-sec{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    gap: 10px;
}
.name{
    width: 100%;
    font-size: 20px;
    font-family: "Science Gothic", sans-serif;
}
.description{
    width: 100%;
    font-size: 14px;
    flex-wrap: wrap;
}
.action{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 6px;
    padding: 0px 0px;
}
.chain{
    color: black;
    text-decoration: none;
    flex: 1 1;
    font-size: 14px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 7px;
    border-radius: 8px;
    gap: 3px;
    border: 2px solid black;
}
#hh{
    text-decoration: none;
    color: black;
}

@media(min-width: 900px){
    .content{
        width: 50%;
        overflow-x: hidden;
    }
    .box{
        height: 300px;
    }
    .name{
        font-size: 30px;
    }
    .blab-sec{
        gap: 14px;
    }
    .description{
        font-size: 17px;
    }
    .chain{
        font-size: 19px;
        padding: 1px 30px;
        gap: 10px;
    }
}