*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.wrapper{
    height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.nav{
    height: 8%;
    border-bottom: 1px solid gray;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 7px;
}
.refresh{
    padding: 7px 14px;
    cursor: pointer;
    border-radius: 10px;
    color: white;
    font-size: 14px;
    font-weight: bold;
    background-color: green;
}
.content{
    height: 92%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.box{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
    border-bottom: 1px solid gray;
}
.name-sec{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 3px;
}
#her{
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
.socials{
    display: flex;
    flex-direction: row;
    gap: 3px;
    justify-content: flex-end;
    align-items: center;
}
.socials img{
    border-radius: 50%;
}
.dd{
    width: 30px;
    height: 30px;
}
.de{
    width: 35px;
    height: 35px;
}